# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
azure-functions
azure-functions-durable
azure-identity
azure-core
azure-keyvault-secrets
azure-storage-blob
azure-mgmt-web
azure-mgmt-app
python-dotenv
msal
llama-index
bs4
openai==1.3.5
langchain==0.0.340
tenacity